@model PaginatedList<WebApplication2017_MVC_GuestBook.Models.UserTable>
@* ********************重點！請修改這裡！！    *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPage3  分頁#3（微軟官方教材）需搭配根目錄底下的PaginatedList.cs </title>
</head>
<body>
    <h3>IndexPage3  分頁#3（微軟官方教材）</h3>  https://docs.microsoft.com/zh-tw/aspnet/core/data/ef-mvc/read-related-data?view=aspnetcore-5.0
    <br />需搭配根目錄底下的PaginatedList.cs
    <p>
        @Html.ActionLink("Create New（新增）", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                UserName
            </th>
            <th>
                UserSex
            </th>
            <th>
                UserBirthDay
            </th>
            <th>
                UserMobilePhone
            </th>
            <th>功能</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
                <td>
                    @Html.ActionLink("Edit編輯", "Edit", new { _ID = item.UserId }) |
                    @Html.ActionLink("Details明細", "Details", new { _ID = item.UserId }) |
                    @Html.ActionLink("Delete刪除", "Delete", new { _ID = item.UserId })
                </td>
            </tr>
        }
    </table>

    @* ************請自己動手加上  下面這一段 （需搭配根目錄底下的PaginatedList.cs） ******************************  *@
    <hr />
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a href="/UserDB/IndexPage3?_ID=@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous（上一頁）
    </a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;

    <a href="/UserDB/IndexPage3?_ID=@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next（下一頁）
    </a>

</body>
</html>
